body {
    background: #D5EDF5;
}

.my-svg {
    width: 95%;
    height: 95%;
}

.border {
    stroke:black;
    stroke-width: 1;
    stroke-opacity: 90%;
}

.black-fill {
    fill: black;
}

.stroke-black {
    stroke: black;
    fill: transparent;
}

.white-fill {
    fill: white;
}

.red-fill {
    fill: #F27E57;
}

.ears {
    stroke-linejoin: round;
}

@keyframes sun-animation {
    0% {stroke-width: 70;}
    25% {stroke-width: 90;}
    50% {stroke-width: 110;}
    75% {stroke-width: 90;}
    100% {stroke-width: 70;}
}

@keyframes sun-animation-rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.sun {
    stroke: yellow;
    stroke-dasharray: 6;
    stroke-width: 70;
    stroke-opacity: 0.7;
    fill: transparent;
    transform: rotate(0deg);

    transform-origin: 50% 50%;
    animation-name: sun-animation-rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.sun-root {
    fill: yellow;
}